svg {
  width: 1700px;
  height: 750px;
  border: 1px solid blue;

  circle {
    fill: white;
    stroke: #ff1776;
    stroke-width: 2px;
  }
  .axis-line {
    stroke-width: 2px;
    stroke: #ffd6e3;
  }
  text {
    stroke: #ff1776;
  }
}
